
<section class="jumbotron text-center bg-warning">
  <div class="container">
    <div class="row">
      <div class="col">
      <img src="assets/img/burger.png" alt="burger">
     </div>
    </div>
    <div class="row ">
      <div class="col">
         <h1>Eat Da Burger</h1>
      </div>
     </div>
    </div>
  </section>

<section class="main text-left bg-warning">
<div class= "row">
<div class= "col-5">
<ul>
  {{#each burger}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class= "col-5">
  <ul>
  {{#each burger}}
    {{#if eaten}}
    <li>
      {{id}}. {{name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
</section>

<section class="form text-center bg-warning">

<div class= "row">
  <div class= "col-6 mx-auto">
<form class="create-form">
  <div class="form-group">
    <textarea class="form-control" id="burger-text" name="burger-name" rows="3"></textarea>
  </div>
  <button type="submit">Submit</button>
  <p>Enter the burger you want to eat. Click the submit button</p>
</form>
</div>
</div>
</section>